body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Estilos para el cuerpo del documento */
}

.contenedor_principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Estilos para el contenedor principal que envuelve la imagen y la información */
}

.fondo {
  background-color: #C4D4FC;
  /* Estilos para el fondo de la página */
}

section {
  display: flex;
  /* Estilos para la sección que envuelve los elementos principales */
}

.imagen_smash {
  width: 50%;
  margin-bottom: 40px;
  /* Estilos para la imagen de Smash Bros */
}

.div_personaje {
  display: flex;
  align-items: center;
  text-align: left;
  color: #fff;
  background: #212121;
  border-radius: 25px;
  padding: 20px;
  /* Estilos para el contenedor de información del personaje */
}

.div_personaje p {
  font-size: 25px;
  margin: 2px;
  /* Estilos para los párrafos dentro del contenedor de información del personaje */
}

.div_personaje img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  /* Estilos para la imagen dentro del contenedor de información del personaje */
}

.div_textos {
  display: flex;
  flex-direction: column;
  /* Estilos para el contenedor de los textos dentro del contenedor de información del personaje */
}

.contenedor_botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Estilos para el contenedor de los botones */
}

.boton {
  width: 30vw;
  height: 60px;
  color: #fff;
  background: #212121;
  border-radius: 20px;
  border: 0;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  /* Estilos para los botones */
}

.boton:hover {
  cursor: pointer;
  background: #0d0d0d;
  width: 31vw;
  height: 61px;
  /* Estilos para el estado de hover de los botones */
}
